{% extends 'index.html' %}
{% if user_ip %}
{% block title%}
User
{% endblock %}


{% block page %}User Page{% endblock %}
{% block content%}
<section>
    <article>
        <h2>Hello there {{user_ip}}</h2>
    </article>
</section>
<table border=1 style="background-color:aqua">
    <thead>
        <tr>
            <td>Names</td>
            <td>Age</td>
            <td>Color</td>
            <td>Options</td>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.1 }}</td>
            <td>{{ user.2 }}</td>
            <td>{{ user.3 }}</td>
            <td>
                <a href="/edit/{{user.0}}">Edit</a>
                <a href="/delete/{{user.0}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    New comment
</table>
<section>
</section>
{% endblock %}

{% else %}
<a href="{{ url_for('index') }}">Home</a>
{% endif %}
